body{margin: 0; padding: 0; text-align: center;}
#clc{text-align: center; margin-top: 50px;}
a{color: black; text-decoration: none; margin-left: 0;}
#dis{width: 280px; height: 60px; margin-bottom: 15px; margin-left: 5px; font-size: 40px; text-align: right; background-color: aliceblue;}
.btn{width: 50px; height: 40px; margin-top: 5px; margin-left: 5px;}